.section {
  background-color: rgb(249 250 251);
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
  z-index: 50;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  isolation: isolate;
}

@media (min-width: 768px) {
  .section {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  z-index: 60;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 5rem;
  height: 5rem;
}

@media (min-width: 640px) {
  .logo {
    width: 8rem;
    height: 8rem;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 1.5rem;
  line-height: 1.25;
  letter-spacing: -0.05em;
  font-weight: 600;
  word-break: keep-all;
  text-align: center;
  color: rgb(17 24 39);
}

@media (min-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

.brandText {
  font-weight: 800;
  color: #00ab55;
}

.description {
  font-size: 1.0625rem;
  line-height: 1.625;
  letter-spacing: -0.05em;
  word-break: keep-all;
  text-align: center;
  color: rgb(17 24 39);
}

@media (min-width: 768px) {
  .description {
    font-size: 1.3125rem;
  }
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.buttonsMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .buttonsMobile {
    display: none;
  }
}

.buttonsDesktop {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .buttonsDesktop {
    display: flex;
  }
}

.button {
  min-width: 8rem;
}

.buttonLg {
  min-width: 10rem;
}

.arrowIcon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.logoBackground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.logoBackgroundImage {
  width: 80%;
  height: 80%;
}

@media (min-width: 768px) {
  .logoBackgroundImage {
    width: 66.666667%;
    height: 66.666667%;
  }
}

